{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<table>
  <tr>
  <td>
  <div>
    <h1 style="margin-top: 10px; margin-bottom: 0px;">{{ title }}</h1>

    {% if post.collection == 'talks' %}
      <h2 style="font-weight: normal; margin-top: 10px; margin-bottom: 0px;">
      Presented at <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%B, %Y" }}</h2>

      {% if post.joint_talk %}
        <h2 style="font-weight: normal; margin-top: 10px; margin-bottom: 0px;"> 
        Joint talk with <a style="text-decoration: none;" href="{{ post.joint_link }}" target="_blank">{{post.joint_talk}}</a></h2>&nbsp;&nbsp;&nbsp;
      {% endif %}

      {% if post.description %}
      <h2 style="font-weight: normal; margin-top: 10px; margin-bottom: 0px;">
        {{post.description}}</h2>
      {% endif %}

      {% if post.slides  %}
      <h2 style="margin-top: 10px; margin-bottom: 0px;"><a style="text-decoration: none;" href="{{ post.slides }}" target="_blank">Slides <i class="fa fa-file"></i></a></h2>&nbsp;&nbsp;&nbsp;
      {% endif %}

    {% endif %}
    
  
</div>
</td>
</tr>
</table>